@import "colors";

@inner-padding: 12px;

button {
  padding: (@inner-padding * .75) @inner-padding; /* (top and bottom) (left and right) */
  
  border: none;
  border-radius: 2px;

  color: #fff;

  font-size: 14px;
  font-weight: 550;
  
  cursor: pointer; /* hand cursor */

  transition: box-shadow .2s ease-in-out;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 0 1px 5px;
}

.button--primary {
  background-color: @blue;
  min-width: 200px;
}

.button--secondary {
  background-color: @brown;
}

.button--default {
  background-color: @default;
}

.button--transparent {
  background-color: rgba(0, 0, 0, .0);
  font-weight: 600;
  color: @blue;
}