@import "layout";
@import "colors";

.dropdown-menu {
  position: relative;
}

.dropdown-menu__title {
  font-weight: 600;
}

.dropdown-menu__dropdown {
  position: absolute;
  top: -50%;
  z-index: 1;

  display: none;
}

.dropdown-menu:hover .dropdown-menu__dropdown {
  display: block;
}

.dropdown-menu__dropdown__item {
  padding: @spacing*1.25 @spacing;
  color: #fff;

  >* {
    color: #fff;
  }

  .no-select();
}

.dropdown-menu__dropdown__item:hover {
  background-color: rgba(255, 255, 255, .25);
}