/* Used BEM naming conventions for class names
    read it at www.getbem.com/naming */
@import "normalize";
@import "colors";
@import "layout";

/* style */

.header {
    width: 100%;
    height: 50px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: @red;
    padding-left: @horizontal-padding;

    .flex(row, flex-end, center);
}

.header__item {
    margin-right: @spacing-lg;
    color: #fff;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item--register {
    height: 100%;
}

.main-container {
    width: 100%;
    min-width: 800px;
    max-width: 1366px;

    margin: 0 auto;

    section {
        padding: @section-padding;
        margin-bottom: @spacing-xl;
    }
}

.section__title {
    width: 100%;
    margin-bottom: @spacing-xl;

    text-align: center;
    
    color: @red;
}

.section-intro {
    .flex(column);
    margin-top: @spacing-xl;
}

.section-intro__content {
    height: 400px;

    .flex(row, space-between);
}

.intro__section__content__logo {
    width: 360px;
    height: 210px;
}

.section-intro__content__text {
    width: 400px;
    text-align: right;
}

.section-intro__actions {
    width: 100%;
    .flex(row, flex-end);
}

.section-intro__actions__action {
    margin-left: @spacing;        
}

.section-intro__actions__action:first-child {
    margin-left: 0;
}

.section-how__content {
    .flex(row, space-around);
}

.section-how__content__card {
    .flex(column, flex-start);
    max-width: 250px;
}

.section-how__content__card__title {
    color: @blue;
    text-align: center;
    font-size: 32px;
    margin-bottom: @spacing;
    margin-top: 0;
}

.section-how__content__card__description {
    text-align: center;
}

.section-about__text {
    text-align: center;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 5px;
    padding: @spacing @spacing-lg;
}

.course-card {
    width: 50%;
    margin-bottom: @section-padding-left;
    .flex(column, space-between);
}

.course-card__title-container {
    position: relative;
}

.course-card__title__tag {
    position: absolute;
    right: 0;
    top: -7px;
    z-index: 1;
}

.course-card__actions { 
    .flex(row, flex-end);
}

.course-card__actions__subscribe {
    color: green;
}

.section-course__content {
    .flex(row, space-between);
    flex-wrap: wrap;
}

.section-course__content__item {
    width: calc(50% - (@section-padding-left / 2));
}

.section-professors__content {
    .flex(row, space-between);
    flex-wrap: wrap;
}

.professor-card {
    width: calc(25% - @spacing-md);
    margin-bottom: @spacing-md;
}

.professor-card--coordination {
    margin: 0 auto;
}

.professor-card__picture {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
}

.professor-card__content {
    text-align: center;
    margin-bottom: @spacing;
}

.professor-card__content__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: @spacing;
}

.professor-card__actions {
    button {
        width: 100%;
    }
}

.section__logo-container {
    .flex(row, space-between, center);
}

@logo-height: 100px;
@logo-width: 250px;

.section__logo {
    height: @logo-height;
    width: @logo-width;
    margin-bottom: @spacing-xl;
}

.section__logo--sm {
    height: @logo-height * .75;
}

.section__logo--lg {
    height: @logo-height * 1.5;
}

.section__logo__image {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.footer {
    background-color: @red;
    color: #fff;

    .flex(row, space-between);

    padding: @spacing-lg @section-padding-left !important;
    margin-bottom: 0 !important;
    
    a {
        color: inherit;
    }
}

@footer-div-width: 50%;

.footer__info {
    width: @footer-div-width;
    margin-left: @spacing;
    border-right: 1px solid #fff;

    .flex(row, flex-start);

    span {
        margin-right: @spacing;
    }
}

.footer__links {
    width: @footer-div-width;
    text-align: center;

    .flex(column, space-between, center);
}