/* Used BEM naming conventions for class names
    read it at www.getbem.com/naming */

@import "colors";

/* variables */
@spacing-xs: 5px;
@spacing-sm: 10px;
@spacing: @spacing-sm; // default spacing
@spacing-md: 20px;
@spacing-lg: 30px;
@spacing-xl: 50px;

@section-padding-top: 0;
@section-padding-left: 24px;
@section-padding: @section-padding-top @section-padding-left;

@horizontal-padding: @spacing-md; 

/* mixins */
.flex(@direction, @justify-content, @align-items) { /* This is a less css mixin  */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: @direction;
    justify-content: @justify-content;
    align-items: @align-items;
}

.flex(@direction, @justify-content) {
    .flex(@direction, @justify-content, stretch); /* stretch is the default value for align-items property */
}

.flex(@direction) {
    .flex(@direction, flex-start)
}

/* style */
* {
    /* border-box makes padding count as width of element */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 50px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: @red;
    padding-left: @horizontal-padding;

    .flex(row-reverse, flex-start, center);
}

.header__item {
    margin-left: @spacing-lg;
    color: #fff;
}

.header__item:last-child {
    margin-left: 0;
}

.header__item--register {
    height: 100%;
}

.main-container {
    width: 100%;
    min-width: 800px;
    max-width: 1366px;

    margin: 0 auto;

    section {
        padding: @section-padding;
        margin-bottom: @spacing-xl;
    }
}

.section__title {
    width: 100%;
    margin-bottom: @spacing-lg;

    text-align: center;
    
    color: @red;
}

.section-intro {
    .flex(column);
    margin-top: @spacing-xl;
}

.section-intro__content {
    height: 400px;

    .flex(row, space-between);
}

.intro__section__content__logo {
    width: 360px;
    height: 210px;
}

.section-intro__content__text {
    width: 400px;
    text-align: right;
}

.section-intro__actions {
    width: 100%;
    .flex(row, flex-end);
}

.section-intro__actions__action {
    margin-left: @spacing;        
}

.section-intro__actions__action:first-child {
    margin-left: 0;
}

.section-how__content {
    .flex(row, space-around);
}

.section-how__content__card {
    .flex(column, flex-start);
    max-width: 250px;
}

.section-how__content__card__title {
    color: @blue;
    text-align: center;
    font-size: 32px;
    margin-bottom: @spacing;
    margin-top: 0;
}

.section-how__content__card__description {
    text-align: center;
}

.section-about__text {
    text-align: center;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 5px;
    padding: @spacing-xs @spacing-lg;
}

.course-card {
    width: 50%;
    margin-bottom: @spacing;
}

.section-course__content {
    .flex(row, space-between);
}