/* Used BEM naming conventions for class names
    read it at www.getbem.com/naming */
@import "normalize";
@import "colors";
@import "layout";

@section-min-width: 800px;
@section-max-width: 1366px;

/* style */
.main-container {
    width: 100%;
    min-width: @section-min-width;
    max-width: @section-max-width;

    margin: 0 auto;

    section {
        padding: @section-padding;
        padding-top: 50px; /* Header height */
    }
}

.section__title {
    width: 100%;
    margin-bottom: @spacing-xl;

    text-align: center;
    
    color: @red;
}

.section-intro {
    .flex(column);
}

.section-intro__content {
    height: 400px;

    .flex(row, space-between);
}

.intro__section__content__logo {
    width: 360px;
    height: 210px;
}

.section-intro__content__text {
    width: 400px;
    text-align: right;
}

.section-intro__content__text__title {
    margin: 0;
}

.section-intro__actions {
    width: 100%;
    .flex(row, flex-end);
}

.section-intro__actions__action {
    margin-left: @spacing;        
}

.section-intro__actions__action:first-child {
    margin-left: 0;
}

.section-how__content {
    .flex(row, space-around);
}

.section-how__content__card {
    .flex(column, flex-start);
    max-width: 250px;
}

.section-how__content__card__title {
    color: @blue;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 0;
}

.section-how__content__card__description {
    text-align: center;
}

.section-about__text {
    text-align: center;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 5px;
    padding: @spacing @spacing-lg;
}

.course-card {
    width: 50%;
    margin-bottom: @section-padding-left;
    .flex(column, space-between);
}

.course-card__title-container {
    position: relative;
}

.course-card__title {
    font-size: 16px;
}

.course-card__title__tag {
    position: absolute;
    right: 1px;
    top: -7px;
    z-index: 1;
}

.course-card__actions { 
    .flex(row, flex-end);
}

.course-card__actions__subscribe {
    color: green;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 5px;
}

.section-course__content {
    .flex(row, space-between);
    flex-wrap: wrap;
}

.section-course__content__item {
    width: calc(50% - (@section-padding-left / 2));
}

.section-professors > .section__title {
    margin-bottom: @spacing;
}

.section-professors__subtitle {
    .section__title(); 
    margin-bottom: @spacing-md;
}

.section-professors__content {
    .flex(row, center);
    flex-wrap: wrap;
}

.section-professors__professor-name {
    font-size: 16px;
    padding: @spacing-md @spacing-sm;
    font-weight: 600;
    a {
        text-decoration: underline;
    }
}

.section__logo-container {
    .flex(row, space-between, center);
}

@logo-height: 100px;
@logo-width: 250px;

.section__logo {
    height: @logo-height;
    width: @logo-width;
    margin-bottom: @spacing-xl;
}

.section__logo--sm {
    height: @logo-height * .75;
}

.section__logo--lg {
    height: @logo-height * 1.5;
}

.section__logo__image {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color: @red;
}

.footer__content {
    min-width: @section-min-width;
    max-width: @section-max-width;
    margin: 0 auto;

    color: #fff;

    .flex(row, space-between);

    padding: @spacing-lg 0 !important;
    margin-bottom: 0 !important;
    
    a {
        color: inherit;
    }
}

@footer-div-width: 50%;

.footer__content__info {
    width: @footer-div-width;
    margin-left: @section-padding-left;
    border-right: 1px solid #fff;

    .flex(row, flex-start);

    span {
        margin-right: @spacing;
    }
}

.footer__content__links {
    width: @footer-div-width;
    text-align: center;

    .flex(column, space-between, center);
}